<%= image_tag "sova - velká.png", class: "uvodni"%>
<h1>Mirčina mýdla</h1>

<h3>...a jiné kosmetické radůstky</h3>

<br>
<br>
Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
<br>
<br>
Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
<br>
<br>
<br>
<br>

<%= image_tag "mýdlový košíček 1.jpg", class: "nahled"%>
<%= image_tag "mýdlový jahodový dortík 1.jpg", class: "nahled"%>
<%= image_tag "koule 2.jpg", class: "nahled"%>
<%= image_tag "mýdlový košíček 2.jpg", class: "nahled"%>
<%= image_tag "koule 1.jpg", class: "nahled"%>

<br>
<br>
<br>
<br>

<h4>Co si u nás můžete objednat?</h4>
<br>
- Lorem ipsum<br>
- Lorem ipsum<br>
- Lorem ipsum<br>
- Lorem ipsum<br>
<br>
<br>
<br>
