<h1>Proč právě vyrábění mýdel?</h1>
<br>
<br>
<br>
<br>
<br>
<p>Jmenuji se Mirka, je mi 42 let a neustále něco tvořím a vytvářím již od ranného dětství.
<br>
<br>
Rok 2013 byl pro mě velmi zlomový. Tak jak to v této době bývá, i mě dohnala hektická doba a já se přepracovala. Musela jsem úplně zastavit a 2 měsíce odpočívat. V té době jsem měla prostor na dávnou touhu,  začít s výrobou mýdla. 
<br>
<br>
Mýdla jsou vyráběna ručně tzv. metodou zastudena, což zaručuje zachování všech výživných složek v mýdlech. Nepoužívám zbytečné chemikálie jako např. umělé konzervanty, stabilizátory, parabeny či umělé tenzidy které jen vysušují a dráždí citlivou pokožku. K výrobě používám výlučně rostlinné oleje, esence a barviva určená pro kosmetiku. 
<br>
<br>
Každé mýdlo testuji pH papírkem a další testování je na mé početné rodině a přátelích. 
<br>
<br>
Postupně se prokousávám všemi předpisy, které jsou třeba k oficialní výbobě mýdla a kosmetiky. Mým snem je otevřít si vlastní mýdlarnu s kreativní dílnou. Tak doufám, že se podaří. </p>
<br>
<br>
<br>
<br>

<%= image_tag "vyroba1.jpg", class: "vyroba"%>
<%= image_tag "vyroba3.jpg", class: "vyroba"%>
<%= image_tag "vyroba2.jpg", class: "vyroba"%>
<%= image_tag "vyroba3.jpg", class: "vyroba"%>
<%= image_tag "vyroba2.jpg", class: "vyroba"%>
<%= image_tag "vyroba1.jpg", class: "vyroba"%>
<%= image_tag "vyroba1.jpg", class: "vyroba"%>
<%= image_tag "vyroba2.jpg", class: "vyroba"%>
<%= image_tag "vyroba3.jpg", class: "vyroba"%>

<br>
<br>
<br>
<br>
<br>
<br>