<h1>Vyberte si z nejrůznějších vůní, tvarů a barev...</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Pro přípravu mýdel používám jen kvalitní oleje, esence a tak. Proto jsou mýdla vhodná i pro citlivou pokožku nebo pro děti. </p>
<br>
<br>
<br>
<br>

<h3>Mýdlové košíčky</h3>
<p>Dva druhy mýdla v jednom: našlehané bílé a žluto-oranžové z olejů. Zkrátka užijte si dvakrát. </p>
<p>Cena: 44 Kč</p>
<br>
<%= image_tag "mýdlový košíček 1.jpg", class: "produkty"%>
<%= image_tag "mýdlový košíček 2.jpg", class: "produkty"%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Jogurtové mýdlo</h3>
<p>Mýdlo z jogurtovou přísadou a s vůní jahod.</p>
<p>Cena: 33 Kč</p>
<br>
<%= image_tag "jahodovy.jpg", class: "produkty"%>
<%= image_tag "jahodovy2.jpg", class: "produkty"%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Šumivé koule do vany</h3>
<p>Prošumí koupel a vaši pokožku zanechají hebkou a voňavou.</p>
<p>Cena: 11 Kč</p>
<br>
<%= image_tag "koule 1.jpg", class: "produkty"%>
<%= image_tag "koule 2.jpg", class: "produkty"%>
<%= image_tag "koule 3.jpg", class: "produkty"%>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3>Mýdlový jahodový dortík</h3>
<p>Jeden kousek z jahodového dortu - souhra tří druhů mýdla.</p>
<p>Cena: 55 Kč</p>
<br>
<%= image_tag "mýdlový jahodový dortík 1.jpg", class: "produkty"%>
<%= image_tag "mýdlový jahodový dortík 2.jpg", class: "produkty"%>
